<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Home Page</title>
</head>
<body bgcolor="#CCBFB2">
<h1 style="font-family:Georgia, Serif;color:blue;text-align:center;">About Page</h1>
<div style="font-family:Georgia, Serif;color:black;padding:20px;">
  <h2>Available Links</h2>
  <%=  link_to 'Home', root_path  %>
</div>
<div style="font-family:Georgia, Serif;color:blue;padding:20px;">
  <h2>About me</h2>
  <p>Hi I am adam. I smell <br> badly</p>
</div>

</body>

</html>
