<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Home Page</title>
</head>
<body bgcolor="#CCBFB2">
<h1 style="font-family:Georgia, Serif;color:blue;text-align:center;bgcolor:#ffffff">Welcome to my home page!</h1>
  <div style="font-family:Georgia, Serif;color:blue;padding:20px;">
    <h2>Home</h2>
    <p>Hey and welcome to my home page! There is nothing of interest in here at all as I am not the most imaginative person. <br><br>
        However there may be something of interest somewhere.<br><br>
        Below you will find links to my other pages.
    </p>
  </div>
  
  <div style="font-family:Georgia, Serif;color:black;padding: 10px;">
        <%= link_to 'About',  about_path %> | <%= link_to 'Articles',  articles_path %>

  </div>

</body>

</html>
